body{
background-color:rgba(228, 158, 235, 0.788)
font-family:Playwrite Deutschland Grundschrift Guides;

}
header{
    font-size:50px;
    text-align: center;
    background-color: cornsilk;
    color: black;
    border:dotted;
}